* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --cor-primaria: #6639da;
  --cor-secundaria: #fac528;
  --background-geral: #ebebeb;
  --background-section: #fff;
  --border: #d4d4d4;
  --sombra-padrao: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
