@import "./global.css";

/* Corpo */
body {
  background-color: #ebebeb;
  color: #333;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Cabeçalho */
.header {
  width: 100%;
  background: #fbfbfb;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  width: 100px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.vendedor {
  display: flex;
  align-items: center;
  color: #6639da;
  text-decoration: none;
  font-weight: 500;
}
.vendedor img {
  width: 30px;
}
.cart img {
  width: 24px;
}

/* Perfil */
.perfil {
  text-align: center;
  margin-top: 40px;
}

.avatar {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: #6639da 3px solid;
  background-color: #fbfbfb;
}

.avatar-wrap {
  position: relative;
  width: 90px;
  height: 90px;
  flex: 0 0 90px;
}

.perfil h2 {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.perfil p {
  color: #666;
  font-size: 0.95rem;
}

/* Cards */
.cards {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 1.8rem;
  color: #5e3cd9;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1rem;
  margin-bottom: 6px;
}

.card p {
  color: #666;
  font-size: 0.85rem;
}

/* Rodapé */
footer {
  text-align: center;
  font-size: 0.85rem;
  color: #777;
  padding: 40px 0;
  margin-top: 40px;
  border-top: 1px solid #e0e0e0;
  background-color: #fbfbfb;
}
